{
    # Needed because Caddy won't be doing public HTTPS
    auto_https off
}
:80 {
    encode gzip

    # API routes -> backend container
    handle /api/* {
        reverse_proxy api:8081
    }

    # Everything else -> frontend container
    handle {
        reverse_proxy frontend:80
    }
}
