{
    auto_https off
}
:80 {
    encode gzip

    # API routes -> backend container
    handle /api/* {
        reverse_proxy api:8081
    }

    # Socket routes -> api container
    handle /socket.io/* {
        reverse_proxy api:8081
    }

    # Everything else -> frontend container
    handle {
        reverse_proxy frontend:80
    }
}
